
.blog{
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  width: 300px;
  margin: 10px 0;
}

.namesContainer{
  display: flex;
  justify-content: space-between;
  font-size: smaller;
  color: hsla(0, 0%, 14%, 0.7);
}

.infoContainer{
  /* text-transform: uppercase; */
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.infoContainer h3{
  margin: 5px 0 0 0;
  text-transform: uppercase;
}
.infoContainer p{
  margin: 5px 0;
}



