
.blog{
  padding: 5px;
  border: 2px solid black;
  box-shadow: 5px 5px 0 black, -2px -2px 0 black;
  border-radius: 5px;
  width: 300px;
  margin: 10px 0;
}

.namesContainer{
  display: flex;
  justify-content: space-between;
  font-size: smaller;
  color: hsla(0, 0%, 14%, 0.7);
}

.infoContainer{
  /* text-transform: uppercase; */
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.infoContainer h3{
  margin: 5px 0 0 0;
  text-transform: uppercase;
}
.infoContainer p{
  margin: 5px 0;
}

.error{
  border: 5px solid hsla(0, 100%, 50%, 0.7);
  color: hsl(0, 100%, 35%);
  background-color: hsl(0, 0%, 80%);
  padding: 5px;
  font-size: large;
  font-weight: bold;
  border-radius: 5px;
  margin: 5px 0;
}
.message{
  border: 5px solid hsla(109, 100%, 24%);
  color: hsl(109, 100%, 24%);
  background-color: hsl(0, 0%, 80%);
  padding: 5px;
  font-size: large;
  font-weight: bold;
  border-radius: 5px;
  margin: 5px 0;
}

/* .likeButton{
  border: none;
  background: hsl(0, 100%, 50%);
  color: white;
  border-radius: 5px;
  padding: 5px 10px; 
}

.likeButton:hover{
  background: hsl(0, 100%, 70%);
}
.likeButton:active{
  background: hsl(0, 100%, 30%);
} */
 


